.page {   
    margin: 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 114, 114);
}
.p-center{
   background-color: rgb(192, 229, 143);
}
.header-pag{
    background-color: rgb(102, 102, 102);
}
.header {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 87px;
    left: 160px;
    top: 27px;
    background: rgb(229, 231, 92);
    mix-blend-mode: normal;
    opacity: 1.2;
    border: 1px solid rgb(231, 229, 92);
   }
   .menu{
       display: flex;
       flex-wrap: wrap;
       align-items: stretch;
       list-style: none;
       padding: 0;
       margin: 0;
   }
   .obraz{
       display: flex;
       align-items: stretch;
       justify-content: center;
       min-height: 35px;
   }
   .page {   
       margin: 0;
       font-size: 10px;
       display: flex;
       flex-direction: column;
       background-color: rgb(104, 103, 103);
      }
      .p-center{
          background-color: rgb(104, 103, 103);
      }
      .footer-pag{
       background-color: rgb(85, 85, 85);
      }
      .footer {
          box-sizing: border-box;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          justify-content: center;
          width: 100%;
          max-width: 1000px;
          min-height: 89px;
          left: 160px;
          top: 27px;
          background: rgb(85, 85, 85);
          mix-blend-mode: normal;
          opacity: 1.2;
          border: 1px solid rgb(85, 85, 85);
      }
      .menu{
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          list-style: none;
          padding: 0;
          margin: 0;
      }
      .item:hover {
          background-color: rgb(224, 209, 69);
      }
      .obraz{
          display: flex;
          align-items: stretch;
          justify-content: center;
          min-height: 35px;
      }
